<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户资料</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/khzl.js"></script>
</head>

<body class="pt-2">
<div style="height: 50px;width: auto">
    <img src="../img/img.png" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img_1.png" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img_2.png" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img_3.png" style="height: 48px;width: 150px;margin-left: 3px">
    <span style="margin-left: 100px;font-size: 15px"><img src="../img/img_tx.png" style="height: 30px;">  您 好 <b><span id="dlm" style="color: #2b55e0"></span></b> , 欢 迎 您 登 录 !</span>
</div>
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="gsm" type="text" class="form-control" placeholder="公司名" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn" style="background-color: limegreen;color: white">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：客户资料</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="khzlTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-gsm">公司名</label>
                                <input id="add-gsm" name="gsm" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入公司名！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-bh">编号</label>
                                <input id="add-bh" name="bh" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入编号！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-lxdh">联系电话</label>
                                <input id="add-lxdh" name="lxdh" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入联系人！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-dz">地址</label>
                                <input id="add-dz" name="dz" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入地址！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-sfhs">是否含税</label>
                                <select id="add-sfhs" name="sfhs" class="form-control" autocomplete="off">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                                <div class="invalid-feedback">
                                    请选择是否含税！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-sfyj">是否月结</label>
                                <select id="add-sfyj" name="sfyj" class="form-control" autocomplete="off">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                                <div class="invalid-feedback">
                                    请选择是否月结！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-qcye">期初余额</label>
                                <input id="add-qcye" name="qcye" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入期初余额！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-tzkc">铜渣库存</label>
                                <input id="add-tzkc" name="tzkc" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入铜渣库存！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-tkkc">铜块库存</label>
                                <input id="add-tkkc" name="tkkc" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入铜块库存！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-ysje">应收金额</label>
                                <input id="add-ysje" name="ysje" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入应收金额！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-kddsje">快递代收金额</label>
                                <input id="add-kddsje" name="kddsje" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入快递代收金额！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-gsm">公司名</label>
                                <input id="update-gsm" name="gsm" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入公司名！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-bh">编号</label>
                                <input id="update-bh" name="bh" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入编号！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-lxdh">联系电话</label>
                                <input id="update-lxdh" name="lxdh" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入联系人！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-dz">地址</label>
                                <input id="update-dz" name="dz" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入地址！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-sfhs">是否含税</label>
                                <select id="update-sfhs" name="sfhs" class="form-control" autocomplete="off">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                                <div class="invalid-feedback">
                                    请选择是否含税！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-sfyj">是否月结</label>
                                <select id="update-sfyj" name="sfyj" class="form-control" autocomplete="off">
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                                <div class="invalid-feedback">
                                    请选择是否月结！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-qcye">期初余额</label>
                                <input id="update-qcye" name="qcye" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入期初余额！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-tzkc">铜渣库存</label>
                                <input id="update-tzkc" name="tzkc" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入铜渣库存！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-tkkc">铜块库存</label>
                                <input id="update-tkkc" name="tkkc" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入铜块库存！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-ysje">应收金额</label>
                                <input id="update-ysje" name="ysje" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入应收金额！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-kddsje">快递代收金额</label>
                                <input id="update-kddsje" name="kddsje" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入快递代收金额！
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>